{% extends "base.jinja2" %}

{% block title %}Atelier Laurier{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/static/img/logo3.png" width="150"/>
        </a>
      </div>
      <h2>Atelier Laurier</h2>
      <div id="links-box" class="pull-right">
        <ul class="nav navbar-nav">
          <li><a href="#portfolio">Porfolio</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
  <br/>
  <a name="contact"></a>
    <div class="container-fluid"" style="margin-left: 160px">
      <div class="row">
        <div class="col-md-4">
          <address class="vcard">
            <div class="fn">Micheline Leduc et Olivier Gianolla</div>
            <div class="adr">
              <div class="street-address">5184 St-Domique</div>
              <div class="locality">Montréal</div>
              <div class="postal-code">H2T 1V2</div>
              <div class="country-name">Québec</div>
            </div>
            <div class="tel">Tel: 514-274-3338</div>
          </address>
        </div>
      </div>
    </div>
  <a name="portfolio"></a>
  <section class="homepage-section portfolio">
    <div class="container-fluid"
      <div class="row">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/01.png">
            <img width="250" src="/static/img/arts/01.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/02.png">
            <img width="250" src="/static/img/arts/02.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/03.png">
            <img width="250" src="/static/img/arts/03.png" />
          </a>
        </div>
      </div>
      <div class="row top30">
        &nbsp;
      </div>
      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/04.png">
            <img width="250" src="/static/img/arts/04.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/05.png">
            <img width="250" src="/static/img/arts/05.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/06.png">
            <img width="250" src="/static/img/arts/06.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row-fluid top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/07.png">
            <img width="250" src="/static/img/arts/07.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/08.png">
            <img width="250" src="/static/img/arts/08.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/09.png">
            <img width="250" src="/static/img/arts/09.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row-fluid top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/10.png">
            <img width="250" src="/static/img/arts/10.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/11.png">
            <img width="250" src="/static/img/arts/11.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/12.png">
            <img width="250" src="/static/img/arts/12.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row-fluid top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/13.png">
            <img width="250" src="/static/img/arts/13.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/14.png">
            <img width="250" src="/static/img/arts/14.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/15.png">
            <img width="250" src="/static/img/arts/15.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/16.png">
            <img width="250" src="/static/img/arts/16.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/17.png">
            <img width="250" src="/static/img/arts/17.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/18.png">
            <img width="250" src="/static/img/arts/18.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/19.png">
            <img width="250" src="/static/img/arts/19.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/20.png">
            <img width="250" src="/static/img/arts/20.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/21.png">
            <img width="250" src="/static/img/arts/21.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/22.png">
            <img width="250" src="/static/img/arts/22.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/23.png">
            <img width="250" src="/static/img/arts/23.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/24.png">
            <img width="250" src="/static/img/arts/24.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/25.png">
            <img width="250" src="/static/img/arts/25.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/26.png">
            <img width="250" src="/static/img/arts/26.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/27.png">
            <img width="250" src="/static/img/arts/27.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/28.png">
            <img width="250" src="/static/img/arts/28.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/29.png">
            <img width="250" src="/static/img/arts/29.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/30.png">
            <img width="250" src="/static/img/arts/30.png" />
          </a>
        </div>
      </div>

      <div class="row-fluid top30">
        &nbsp;
      </div>

      <div class="row top30">
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/31.png">
            <img width="250" src="/static/img/arts/31.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/32.png">
            <img width="250" src="/static/img/arts/32.png" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="image" href="/static/img/arts/32.png">
            <img width="250" src="/static/img/bonhomme.png" />
          </a>
        </div>
      </div>
  </section>
{% endblock %}

{% block footer %}
  <section id="footer" class="homepage-section">
    <div class="container">
      <div class="row text-right">
        <p>Atelier Laurier © 2015</p>
      </div>
    </div>
  </section>
{% endblock %}
